include *.rst *.yml *.yaml *.ini LICENSE .coveragerc pyproject.toml conftest.py
recursive-include src *.typed
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.py
