---
name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        python-version: ["2.7", "3.5", "3.6", "3.7", "3.8"]
    name: "Python ${{ matrix.python-version }}"

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v1"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox tox-gh-actions virtualenv codecov coverage[toml]
      - name: "Run tox targets for ${{ matrix.python-version }}"
        run: "tox"
      - name: "Get coverage"
        run: |
          set -xe

          if compgen -G ".coverage.*" >/dev/null; then
            python -m coverage combine
            python -m coverage xml

            export UPLOAD_COVERAGE=1
          fi
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        if: env.UPLOAD_COVERAGE == "1"
